body {
  font-family: sans-serif;
}

button:not(:disabled),
input:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  color: lightgray;
}

button.icon {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

input:disabled {
  color: #ccc;
}

label {
  display: inline-block;
}

input,
button,
select,
textarea {
  --padding: 4px;

  font-family: inherit;
  font-size: inherit;
  padding: var(--padding);
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: solid lightgray 1px;
  border-radius: var(--padding);
}
